h1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 20px 0px 20px 0px;
    color: #5C5C5C;
    font-size: x-large;
}

.textoEncolumnado {
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin: 2% 15% 5% 15%;
    padding: 1%;
    /*lightblue; */
    column-count: 3;
    column-gap: 45px;
    column-rule: 3px solid #4BB495;
}

.fotos_nuestras{
    width: 100%;
}
.fotos_nuestras .marco {
    max-width: 130px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    margin-left: 25%;
    margin-top: 25px
}
.fotos_nuestras .marco:last-child {
    margin-left: auto;
     margin-right:25%;
     margin-top: 25px;
    float: right;
 }
.fotos_nuestras .nombre {
    text-align: center;
    padding: 10px 20px;
}
.fotos_nuestras img{
    width:100%;

}

.siguenosRRSS {
    margin-top: 20px;
    /*vertical-align: middle;*/
    /*align-items: center;*/
    /*align-self: center;*/
    /*align-content: center;*/
    text-align: center;
}

@media (max-width: 800px) {
    .siguenosRRSS {
        display: none;
    }

    .textoEncolumnado {
        column-count: 1;
        column-gap: 45px;
        border-style: none;
    }
    .fotos_nuestras .marco, .fotos_nuestras .marco:last-child{
        margin-left: 40%;
        float: left;
        margin-right: 0;
    }
    /* nav ul {
        display: flex;
        list-style: none;
        background: var(--nav-fondo);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        height: auto;
    }
    .solo-escritorio{
        display: none;
    }
    .solo-smartphone{
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-flow: row;
    }
    header h3{
        font: normal 10vw 'Cookie', cursive;
    }
    header{
        max-height: 200px;
    } */
}