
/* Formato texto del titulo de la pácina */
h1 {
    display: block;
    text-align: center;
    /*padding: 0;*/
    /* Margen top/bottoom right/left */
    margin: 20px 0px;
    color: #5C5C5C;
    font-size: x-large;
    width: 100%;
}


.contenido {
    min-height: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
table{
    position: relative;
    width: 100%;
}
th{
    position: sticky;
    top: 0;
    background-color: var(--nav-fondo);
    color: var(--nav-texto);
}
.tabla {
    float: left;
    margin: 2%;
    width: 46%;
    border-collapse: collapse;
    max-height: 304px;
    overflow: auto;
}

td,
th {
    width: 20%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
video{
    width: 60%;
    height: auto;
}
.video{
    margin: 2%;
    float: left;
    width: 46%;
    text-align: center;
}

.audio {
    width: 100%;
    text-align: center;
    display: block;
    clear: both;
    padding: 10px;
}
audio{

}
/* para el scroll de la tabla*/
.tabla::-webkit-scrollbar {
    width: 5px;
}


.tabla::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #dddddd;
    border-radius: 10px;
}


.tabla::-webkit-scrollbar-thumb {
    background: var(--nav-fondo);
    border-radius: 10px;
}


.tabla::-webkit-scrollbar-thumb:hover {
    background: var(--nav-texto-hover);
}


.video > h3, .audio > h3{
    margin-bottom: 15px;
    color: #5C5C5C;
}
@media (max-width: 980px) {
    .tabla {
        width: 100%;
        margin: 0;
    }

    .video, video {
        width: 100%;
        margin: 10px 0px;
    }
}