.contruccion {
    height: 100%;
    width: 100%;
}

h1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 20px 0px 20px 0px;
    color: #5C5C5C;
    font-size: x-large;
}

.gif {
    margin-left: auto;
    margin-right: auto;
    display: block;
}