@font-face {
    font-family: 'Roboto';
    src: url('../librerias/Roboto-Medium.ttf') format('truetype'); /* Legacy iOS */
}

* {
    font-family: Roboto, serif;
    margin: 0;
    padding: 0;


    /*Body general*/
    --body-fondo: #F6F6F7;

    /* Colores de navegacion sin hover*/
    --nav-fondo: #333333;
    --nav-texto: rgba(255, 255, 255, .5);

    --nav-fondo-hover: #22B0C7;
    --nav-texto-hover: white;

    /* Colores de header, pero no de la navegación */
    --header-fondo: radial-gradient(circle farthest-corner at 98.8% 97.5%, rgba(237, 208, 104, 1) 0%, rgba(104, 237, 231, 1) 56.2%, rgba(63, 31, 129, 1) 100.2%);
    /*--header-fondo: linear-gradient( 112.2deg, rgba(0,4,81,1) -1.2%, rgba(0,4,81,1) -1%, rgba(0,4,81,1) -1%, rgba(0,4,81,1) -1%, rgba(0,4,81,1) -1%, rgba(0,4,81,1) -1%, rgba(137,177,239,1) 55.5%, rgba(106,61,115,1) 85.3% );*/


    /* LOGO */
    --logo-h3: #5383d3;
    --logo-span: #ffffff;
}

/*Menu de navegación*/
nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
    background: var(--nav-fondo);
    flex-direction: row;
    justify-content: center;
    height: 4vw;
    align-items: center;
}

nav li a {
    color: var(--nav-texto);
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    font-size: large;
}

.active {
    color: var(--nav-texto-hover);
}

nav li a:hover {
    color: var(--nav-texto-hover);

}

/* FIn menu de navegación*/

/*Header*/
/*header, .separador {*/

header {
    background: var(--header-fondo);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header > .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

header h3 {
    color: #ffffff;
    font: normal 6em 'Cookie', cursive;
    margin: 0;
}

header h3 span {
    color: #5383d3;
}

.separador {
    /*background-image: url("../img/Futuro_del_smartphone.jpg");*/
}

.solo-smartphone {
    display: none;
}

.separador {
    /*height: 400px;*/
    /*width: 100%;*/
}


/* Buscar Lo que vamos a hacer es que hay 2 lupas, una para mostrar el input y otro que no. Cuando no se este mostrando el
 input, tenemos una lupa con enlace a #buscar, al hacer click podemos recoger esa direccion con el tarjet, por lo que
 podemos hacer visible o invisibles elementos que se encuentren dentro de ese contenedor */

#buscar {
    visibility: visible;
    display: inline;
}

#buscar input {
    visibility: hidden;
    display: inline;
}

#buscar a[href="#"] {
    display: none;

}

#buscar a[href="#buscar"] {
    display: inline;

}

#buscar:target a[href="#buscar"] {
    display: none;
}

#buscar:target a[href="#"] {
    display: inline;
}

#buscar:target input {
    visibility: visible;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline;
    outline: none;
    border: none;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}


/* Fin de codigo de buscar */
/*Menu del smartphone*/
.menu-smartphone {
    display: none;
}

#menu:target .menu-smartphone {
    display: inline;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1500;
    background-color: var(--nav-fondo);
}

.menu-smartphone > span {
    color: var(--nav-texto);
    position: absolute;
    left: 80%;
    font-size: 6vh;
}

.menu-smartphone > span a {
    text-decoration: none;
    color: var(--nav-texto);
}

.menu-smartphone li {
    padding: 20px;
}

@media (max-width: 800px) {

    nav ul {
        display: flex;
        list-style: none;
        background: var(--nav-fondo);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        height: auto;
    }

    .solo-escritorio {
        display: none;
    }

    .solo-smartphone {
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-flow: row;
    }

    header h3 {
        font: normal 10vw 'Cookie', cursive;
    }

    header {
        visibility: hidden;
        height: 4vw;
    }

}