:root {
    --foto-hover-botones-fondo: var(--logo-h3);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

/* Create four equal columns that sits next to each other */
.column {
    min-width: 50%;

}

.column img {
    vertical-align: middle;
    width: 100%;
}

.container {
    position: relative;

}

.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.left {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.right {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.1;
}

.container:hover .middle, .container:hover .right, .container:hover .left {
    opacity: 1;

}

.text {
    color: #22B0C7;
    font-size: 16px;
    padding: 16px 32px;
}

.text a {
    text-decoration: none;

}

.botones {
    color: var(--foto-hover-botones-fondo) !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid var(--foto-hover-botones-fondo) !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.botones:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .left {
        display: none;
    }

    .right {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 980px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

}