h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 20px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.fomulario {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    border-radius: 2px;
    padding: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.fomulario ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fomulario li {
    display: block;
    padding: 9px;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

.fomulario li:last-child {
    border: none;
    margin-bottom: 0px;
    text-align: center;
}

.fomulario li > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 18px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.fomulario input[type="email"],
.fomulario input[type="password"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.fomulario input[type="email"],
.fomulario input[type="password"] {
}

.fomulario li > span {
    background: #2471FF;
    display: none;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
input + span {
    display: none;

}
input:focus:invalid + span {
    background:  #C0C0C0;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.fomulario textarea {
    resize: none;
}

.fomulario input[type="submit"],
.fomulario input[type="button"] {
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}

.fomulario input[type="submit"]:hover,
.fomulario input[type="button"]:hover {
    background: #6B9FFF;
    color: #fff;
}