
main {
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    grid-gap: 15px 15px;
    /*background: var(--header-fondo);*/
}

/* Seteamos el contenedor de cada imagen, con el overflow conseguimos que las partes de la imagen que saldrían de su
contenedor, se oculten.
*/
.zoom {
    width: 100%;
    max-height: 270px;
    max-width: 480px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

/* Creamos una transformacion, transccion de que al hacer hover, la imagen se escale a 1.5*/
.zoom img {
    width: auto;
    height: auto;
    /*transition: transform .5s ease;*/
    transition: transform 0.5s, filter .5s ease-out;
}

/* Evento hover sobre el contenedor zomm que hara que la imagen se escale, haga zoom*/
.zoom:hover img {
    transform: scale(1.2);
}


@media (max-width: 800px) {
    main {
        grid-template-columns: auto;
        grid-gap: 0px 0px;
    }

    .zoom {
        grid-column-start: 1;
        grid-column-end: 4;
        width: 100%;
        height: auto;
    }

    .zoom img {
        /*transition: transform .5s ease;*/
        clear: both;
        transition: transform 0.5s, filter .5s ease-out;
    }
}
